@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div>
    @if (this.User.Identity.IsAuthenticated)
    {
        <a class="btn btn-success" href="/WebsiteCreate">Create</a>
    }
    else
    {
        <h2>Please Login</h2>
    }

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Url</th>
                <th scope="col">Category</th>
                <th scope="col">Owner</th>
                <th scope="col">Image</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in this.Model.Websites)
            {
                <tr>
                    <th scope="row">@item.Name</th>
                    <td><a href="/@item.Url">@item.Url</a></td>
                    <td>@item.CategoryName</td>
                    <td>@item.Owner</td>
                    <td><img style="height:100px; width:100px" src="@item.SnapshotUrl" /></td>
                    <td><a class="btn btn-primary" href="/WebsiteEdit/@item.Id">Edit</a><a class="delete btn btn-danger" href="/Website/DeleteWebsite/@item.Id">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{
<script>
    $(document).ready(function () {

        $(".delete").on("click", function (e) {
            e.preventDefault();
            let url = $(this).attr("href");
            $.ajax({
                type: "Get",
                url: url,
                success: function (data) {
                    console.log(data);
                    window.location.reload();
                },
                error: function (data) {
                    console.log(data)
                }
            });
        })

       


    });
</script>


}